@use 'variables';

$breakpoint-sm: 481px;
$breakpoint-md: 690px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1300px;
$breakpoint-2xl: 1440px;
$breakpoint-3xl: 1920px;

@mixin sm_mobile {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$breakpoint-md - 1px}) {
    @content;
  }
}

@mixin touch_screen {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin touch_screen_up {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin tablet_down {
  @media (max-width: #{$breakpoint-md + 1}) {
    @content;
  }
}

@mixin tablet_up {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin sm_desktop {
  @media (min-width: #{$breakpoint-lg}) and (max-width: #{$breakpoint-xl - 1px}) {
    @content;
  }
}

@mixin lg_desktop {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

@mixin xl_desktop {
  @media (min-width: #{$breakpoint-2xl}) {
    @content;
  }
}

@mixin desktop_4k {
  @media (min-width: #{$breakpoint-3xl + 1px}) {
    @content;
  }
}


@mixin tlc-glow-btn($bg-color: #E51937, $text-color: #ffffff) {
  padding: 16px 40px !important;
  border-radius: 1000px !important;
  background-color: $bg-color !important;
  // Automatically generates a 50% opacity shadow based on the provided $bg-color
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25) inset, 0 12px 32px 1px rgba($bg-color, 0.5) !important;
  color: $text-color !important;
  font-family: $font-family-aktiv !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 150% !important;
  letter-spacing: -0.88px !important;
  transition: box-shadow 0.3s ease, transform 0.3s ease !important;

  &:hover,
  &:focus {
    transform: translateY(-3px);
    animation: tlc-btn-glow-pulse 1.6s ease-in-out infinite;
  }


  @include desktop {
    font-size: 22px !important;
  }


  @media (max-width: 360px) {
    font-size: 14px !important;
  }
}


@mixin tlc-column-hover-effect($overlay-color: #000000, $overlay-opacity: 0.4) {
  &:hover,
  &:focus {
    .column-image-bg {
      transform: scale(1.05);

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba($overlay-color, $overlay-opacity);
        z-index: 1;
        pointer-events: none;
      }
    }
  }
}
